<div class="product-wrapper" data-popular="*">
    <a href="{{link}}" class="product">
      <img class="m-img" src="{{preview}}" alt="">
      <span class="block fl fd-c">
        <span class="fl ai-c" style="width: 100%;">
          <span class="icon">
            <img src="../images/og.png" alt="">
          </span>
          <span class="global fl ai-c">
            <span class="info-block fl fd-c">
              <span class="name">{{name}}</span>
              <span class="count-products onupdate fl ai-c">
                <i class="fas fa-shield-check" style="padding-right: 3px;"></i> {{status}}
              </span>
            </span>
          </span>
        </span>
        <span class="fl ai-c" style="width: 100%; margin-top: auto; justify-content: space-between;">
          <span class="price-block fl fd-c ai-s">
            <span class="info"><span>от</span></span>
            <span class="price">{{price}}₽</span>
          </span>
          <p class="btn-new-style outline">
            <span>Перейти</span>
          </p>
        </span>
      </span>
    </a>
  </div>
  